<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Add Switch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
    </head>

    <body onload='myFunc();get_form()'>
        {%include 'head_foot/header.html'%}
        <section id='main'>
            <div class="container">

                <h3 id='title'>Công tắc hồng ngoại điều khiển qua Broadlink RM mini/Pro</h3>
                <a target="_blank" rel="noopener noreferrer" href=" http://congtachongngoai.javisco.vn"
                    style="float: right;">
                    Bấm vào đây để xem hướng dẫn
                </a>

                <div id='post'>
                    <form action="./add_switch_co_san" method='POST' id='form1'></form>
                </div>
                <div id='command_on'>
                    <form action='./learn_command' method='POST' id='form2'></form>
                </div>
                <div id='command_off'>
                    <form action='./learn_command' method='POST' id='form3'></form>
                </div>

                <table class="table">
                    <tr>
                        <td>Chọn remote hồng ngoại</td>
                        <td>
                            <select name='entity_id' id='entity_id' class='form-control' form='form1' required
                                onchange='get_form()'>
                                <option disabled>--Chọn 1 Broadlink RM mini/Pro đã thiết lập--</option>
                                {%for broadlink in list_broadlink%}
                                <option value="mac={{list_mac[loop.index-1]}}&host={{list_host[loop.index-1]}}" {% if
                                    broadlink['entity_id']==entity_id %} selected {% endif %}>
                                    {{broadlink['entity_id']}}
                                </option>
                                {%endfor%}
                            </select>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Tên công tắc hồng ngoại</td>
                        <td><input type='text' name='name' class='form-control' form='form1'
                                placeholder="Nên viết có dấu. Ví dụ: rèm cửa sổ" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lệnh bật (Command On)</td>
                        <td>
                            <div id="countdown" style="background-color: pink; align-content: center"></div>
                            <input type='text' name='command_on' class='form-control' form='form1' id='cmd_on_res'
                                placeholder="bấm nút học lệnh và làm theo hướng dẫn" required>
                        </td>
                        <td id='learn_command_on'>
                            <input type='button' value='Học lệnh' form='form2' class='btn btn-primary' id='cmd_on'
                                class="btn btn-primary">
                        </td>
                    </tr>
                    <tr>
                        <td>Lệnh tắt (Command Off)</td>
                        <td>
                            <div id="countdown2" style="background-color: pink; align-content: center"></div>
                            <input type='text' name='command_off' class='form-control' form='form1' id='cmd_off_res'
                                placeholder="bấm nút học lệnh và làm theo hướng dẫn" required>
                        </td>
                        <td id='learn_command_off'>
                            <input type='button' value='Học lệnh' form='form3' class='btn btn-primary' id='cmd_off'
                                class="btn btn-primary">
                        </td>
                    </tr>
                </table>
                <input type='submit' value='Lưu' class="btn btn-primary" form='form1'>
                </form>

            </div>
        </section>

        {%block content%}
        {%include 'head_foot/footer.html' %}
        {%endblock%}
        </div>
    </body>

</html>
<script>
    function myFunc() {
        x = document.getElementById('entity_id').value;
        document.getElementById('command_on').innerHTML = "<form action = '/learn_command?" + x + "' method = 'POST' id = 'form2'></form>";
        document.getElementById('command_off').innerHTML = "<form action = '/learn_command?" + x + "' method = 'POST' id = 'form3'></form>";
        $(function () {
            $('#cmd_on').bind('click', function () {
                $('#cmd_on').prop('disabled', true);
                $.post('./learn_command?' + x, function (data, status) {
                    document.getElementById("countdown").innerHTML = '';
                    $('#cmd_on_res').val(data['result']);
                    $('#cmd_on').prop('disabled', false);
                });
            });

            $('#cmd_off').bind('click', function () {
                $('#cmd_off').prop('disabled', true);
                $.post('./learn_command?' + x, function (data, status) {
                    document.getElementById("countdown2").innerHTML = '';
                    $('#cmd_off_res').val(data['result']);
                    $('#cmd_off').prop('disabled', false);
                });
            });
        });
    }

    function get_form() {
        x = document.getElementById('entity_id').value;
        document.getElementById('post').innerHTML = `<form action="./add_switch_co_san?` + x + `" method='POST' id='form1'></form>`;
    }
</script>