<!DOCTYPE html>
<html lang="en">

    <head>
        <title>CAMERA</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
    </head>

    <body>
        {%include 'head_foot/header.html'%}
        <section id='main'>
            {% if namefiles | length == 0%}
            <div class="container">
                <div class="row">

                    <div id="no_broad" class="col-md-12">
                        <h4>Hiện tại chưa có bản ghi nào </h4>
                        <a href="./camera" class="btn btn-primary" role="button">Trở lại danh sách Camera</a>
                    </div>

                </div>

            </div>

            {%else%}
            <div class="container">
                <h3 id='title'>Danh sách bản ghi</h3>

                <div class="row" id="table-item" style='margin-top: 5%;'>
                    <table class='table table-hover col-md-12 col-12'>
                        <thead class="thead-primary">
                            <tr>
                                <th>STT</th>
                                <th>BẢN GHI</th>
                                <th>ĐỊNH DẠNG</th>
                                <th>THAO TÁC</th>
                            </tr>
                        </thead>
                        {% for name in namefiles %}
                        <tbody>
                            <tr>
                                <td width="10%">{{loop.index}}</td>
                                <td width="50%">{{name.split('.')[0]}}</td>
                                <td width="20%">{{name.split('.')[1].upper()}}</td>
                                <td width="20%">
                                    <form action='./del_file?name={{name}}' method='POST'>
                                        <input type='submit' value='Xoá' onclick="return confirm('Bạn có chắc chắn muốn xóa ?');" class="btn btn-danger active">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}

                    </table>
                    {%endif%}
                </div>

            </div>

        </section>
        {%block content%}
        {%include 'head_foot/footer.html' %}
        {%endblock%}
    </body>

</html>