<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Telegram</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
    </head>

    <body>
        {%include 'head_foot/header.html'%}
        <section id='main'>
            <div class="container">
                <h3 id='title'>Thiết lập tài khoản Telegram</h3>
                <div class="alert alert-success alert-dismissible fade show" id="restart" role="alert" style="display: none;">
                    Yêu cầu đã được thực hiện.
                    Bạn vui lòng check config và khởi động lại hệ thống tại <a href="./homeassistant">đây</a>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%if require == 'restart'%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Bạn vui lòng check config và khởi động lại hệ thống tại <a href="./homeassistant">đây</a>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%endif%}
                <a target="_blank" rel="noopener noreferrer" href="http://telegram.javisco.vn" style="float: right;">
                    Bấm vào đây để xem hướng dẫn
                </a>
                <table class="table">
                    <tr>
                        <td colspan="3" style="background-color: #a1d3f7;"><strong>Tài khoản Telegram</strong></td>
                    </tr>
                    <tr>
                        <td width="20%">API key</td>
                        <td><input type='text' id='api_key' name='api_key' value='{{telegram_data["telegram_bot"][0]["api_key"]}}' class="form-control" placeholder="1748217988:AAGqwvOR2clCSaD9asABwb3O62p7RMol888" required>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">ID của kênh thông báo</td>
                        <td><input type='number' id='chat_id' name='chat_id' value='{{telegram_data["notify"][0]["chat_id"]}}' placeholder="123456789" class='form-control' required></td>
                    </tr>
                    {% if telegram_data['telegram_bot'][0]['allowed_chat_ids']|length == 1 %}
                        <tr>
                            <td width="20%">ID group thông báo</td>
                            <td><input type='number' id='group_chat_id' name='group_chat_id' value='' placeholder="987654321" class='form-control' required></td>
                        </tr>

                    {% else %}
                        {% for i in telegram_data['telegram_bot'][0]['allowed_chat_ids'] %}

                            {% if i < 0 %}
                            <tr>
                                <td width="20%">ID group thông báo</td>
                                <td><input type='number' id='group_chat_id' name='group_chat_id' value='{{0-i}}' placeholder="987654321" class='form-control' required></td>
                            </tr>
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                    <tr>
                        <td width="20%">Username</td>
                        <td>
                            <input type='text' id='user' name='user' value='{{telegram_data["notify"][1]["data"]["user"]}}' placeholder="Nhập username tài khoản telegram của bạn" class='form-control' required>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td width="20%">Số lần lặp đoạn hội thoại khi gọi điện</td>
                        <td><input type='text' id='rpt' name='rpt' value='{{telegram_data["notify"][1]["data"]["rpt"]}}' placeholder="2" class='form-control' required></td>
                    </tr>
                </table>
                <button class="btn btn-primary" type="button" onclick="save_telegram()">Lưu lại</button>
            </div>
        </section>
        {%block content%}
        {%include 'head_foot/footer.html' %}
        {%endblock%}
    </body>

</html>

<script src="./static/js/telegram.js"></script>
