<!-- Heder -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-5">
                <a style="height: 20px;" id="logo" href="./">Trang chủ</a>
            </div>
            <div class="col-md-3 col-1"></div>
            <div class="col-md-6 col-6" id='menu'>
                <div class="topnav" id="myTopnav">
                    <!-- <a id="logo" href="./">Javis Home</a> -->
                    <a href="./homeassistant" fireWork>Hệ thống</a>
                    <a href="./change_password" fireWork>Đổi mật khẩu</a>
                    <a href="http://javishc.javisco.vn" fireWork target="_blank" rel="noopener noreferrer">Hướng
                        dẫn</a>
                    <a href="./logout" fireWork>Đăng xuất</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunctions()">☰</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        function myFunctions() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</header>
<!-- End header -->