<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
</head>

<body>
    {% include 'head_foot/header.html'%}
    <section id='main' style="margin-top: 8%;">
        <div class="container">

            <h3 id="title">Đổi mật khẩu</h3>
            {%if error != ''%}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{error}}
            </div>
            {%endif%}
            <form style="margin-top: 5%;" action='./change_password' method='POST'>
                <div class="form-group">
                    <label>Mật khẩu cũ</label>
                    <input type='password' name='old_password' class='form-control' required>
                </div>
                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input type='password' name='new_password' class='form-control' required>
                </div>
                <div class="form-group">
                    <label>Xác nhận mật khẩu mới</label>
                    <input type='password' name='confirm_password' class='form-control' required>
                </div>
                <input type='submit' value='ĐỔI MẬT KHẨU' class='btn btn-primary'>
            </form>
        </div>
    </section>
    {%block content%}
    {%include 'head_foot/footer.html' %}
    {%endblock%}
</body>