<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Quản lý kịch bản</title>
        <link rel="stylesheet" href="./static/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
    </head>

    <body>

        {%include 'head_foot/header.html' %}


        <section id="main">
            <div class="container">

                <h3 id="title">Quản lý kịch bản</h3>
                {%if err != ''%}
                <div class='alert alert-danger alert-dismissible'>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{err}}
                </div>
                {%endif%}
                <h5 style="float: right"><a target="blank" href="http://scriptmanagement.javisco.vn/">Hướng dẫn</a>
                </h5>
                {% if list_scripts %}
                <a href="./add_scripts_recall" class="btn btn-info" role="button" style="margin-top: 5%">Thêm kịch
                    bản</a>
                <div class="row">
                    <table class="table col-md-12 col-12" style="margin-top: 1%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên kịch bản</th>
                                <th>Thao tác</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in list_scripts.keys()%}
                            <tr>
                                <td width="10%">{{loop.index}}</td>
                                <td width="40%">{{list_scripts[item]['alias']}}</td>
                                <td width="20%"><a href="./homeassistant" class="link_item">Kiểm tra</a></td>
                                <td width="15%"><a href="./add_scripts_recall_edit?id_item={{item}}"
                                        class="link_item">Sửa</a></td>
                                <td width="15%"><a href="./add_scripts_recall_delete?id_item={{item}}" class="link_item"
                                        onclick="return confirm('Bạn chắc chắn muốn xóa ?');">Xóa</a></td>
                            </tr>
                            {%endfor%}
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    {%else%}
                    <div id="no_scripts" class="col-md-12">
                        <h4>Không có kịch bản nào !!!</h4>
                        <a href="./add_scripts_recall" class="btn btn-info" role="button">Thêm kịch bản</a>
                    </div>
                    {%endif%}
                </div>
            </div>

        </section>
        {%block content%}
        {%include 'head_foot/footer.html' %}
        {%endblock%}
    </body>

</html>