<div id="menu_right_click">
    <a onclick="return clicked_menu(this)">
        <img src="./static/icon/back.png" />
    </a>
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/cam_bien_chuyen_dong.png" /> Cảm biến
    </a>
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/cong_tac.png" /> Công tắc
    </a>
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/den.png" /> Đèn
    </a>
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/dieu_hoa.png" /> Điều hoà
    </a>
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/khoa.png" /> Khoá
    </a>
    <!-- <a onclick="return clicked_menu(this)">
        <img src=" ./static/supported_device/quat.png" /> Quạt
    </a> -->
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/rem.png" /> Rèm
    </a>
    <a onclick="return clicked_menu(this)">
        <img src="./static/supported_device/tv.png" /> TV
    </a>
</div>
<script src="./static/js/menu.js"></script>