<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Add Fan</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="./static/js/jquery.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
        <script src="./static/js/validate.js"></script>
    </head>

    <body>
        {%include 'head_foot/header.html'%}
        <section id='main'>
            <div class="container">
                <h3 id=title>Thêm mới quạt</h3>
                <form style="margin-top: 5%;" action='./add_fan' method='POST' name='myForm'>
                    <table class="table">
                        <tr>
                            <td>Tên quạt</td>
                            <td><input type='text' name='name' class="form-control" placeholder="ví dụ: quạt phòng ngủ"
                                    required></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ GATEWAY</td>
                            <td>
                                <select id="entity_id" name='gateway' class='form-control' value="" required>
                                    <option disabled selected value> -- Chọn remote -- </option>
                                    {%for broadlink in list_broadlink%}
                                    <option value="mac={{list_mac[loop.index-1]}}&host={{list_host[loop.index-1]}}">
                                        {{broadlink['entity_id']}}
                                    </option>
                                    {%endfor%}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Hãng sản xuất</td>
                            <td>
                                <select name='model' onchange="myFunc({{list_ir}})" id='model' class='form-control'>
                                    <option disabled selected value>--Chọn hãng--</option>
                                    {% for model in list_ir%}
                                    <option>{{model}}</option>
                                    {%endfor%}
                                </select>
                            </td>

                        </tr>
                        <tr id='code'>
                            <td>Mã Code</td>
                            <td id="code">
                                <input type='text' name='device_code' class='form-control' required
                                    placeholder="nhập số nguyên dương, ví dụ: 1000">
                            </td>
                        </tr>

                    </table>
                    <input type='submit' value='Lưu' class="btn btn-primary">
                </form>

        </section>
        {%block content%}
        {%include 'head_foot/footer.html' %}
        {%endblock%}
        </div>
    </body>

</html>

<script>
    function myFunc(list_ir) {
        model = document.getElementById('model').value;
        string = '';
        string = '<tr id="code" ><td>Chọn mã code</td><td><select name = "device_code" class = "form-control" id="model_test" onchange="show_test()"><option disabled selected value>--chọn 1 model của hãng--</option>'
        for (i in list_ir[model]) {
            string += '<option>' + i + "(" + list_ir[model][i] + ")" + '</option>';
        }
        string += '</select></td></tr>'
        $('#code').remove();
        $("table").append(string);
    }

    function gen_unique_id() {
        var device_name = document.myForm.name.value;
        var x = device_name.split(" ").join("_");
        str = x.toLowerCase();
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/ + /g, " ");
        str = str.trim();
        document.getElementById("unique_id").value = str;
    }

    function show_test() {
        $('#test_device').remove();
        string2 = `<tr id="test_device" style="display: none;">
            <td>Thử điều khiển TV</td>
            <td id="func">
            </td>
        </tr>`
        $("table").append(string2);
        string = `<table class='container-fluid table-borderless'>
                    <tr>
                        <td>Bật TV</td><td><input type='button' class='btn btn-info' value='BẬT' onclick='fan_medium()'></td>
                        <td>Tắt TV</td><td><input type='button' class='btn btn-info' value='TẮT' onclick='fan_off()'></td>
                    </tr>
                    <tr>
                        <td>Gió nhẹ</td><td><input type='button' class='btn btn-info' value='Gió nhẹ' onclick='fan_low()'></td>
                        <td>Gió mạnh</td><td><input type='button' class='btn btn-info' value='Gió mạnh' onclick='fan_high()'></td>
                    </tr>
                </table>`;
        document.getElementById('func').innerHTML = string;
        $(test_device).show();
    }

    function fan_off() {
        gateway = document.getElementById('entity_id').value;
        model = document.getElementById('model_test').value;
        model = model.split('(')[1].split(')')[0];
        $.post('./check_command_fan_off?' + gateway + '&model=' + model, function (data, status) {
        });
    }


    function fan_low() {
        gateway = document.getElementById('entity_id').value;
        model = document.getElementById('model_test').value;
        model = model.split('(')[1].split(')')[0];
        $.post('./check_command_fan_low?' + gateway + '&model=' + model, function (data, status) {
        });
    }

    function fan_medium() {
        gateway = document.getElementById('entity_id').value;
        model = document.getElementById('model_test').value;
        model = model.split('(')[1].split(')')[0];
        $.post('./check_command_fan_medium?' + gateway + '&model=' + model, function (data, status) {
        });
    }

    function fan_high() {
        gateway = document.getElementById('entity_id').value;
        model = document.getElementById('model_test').value;
        model = model.split('(')[1].split(')')[0];
        $.post('./check_command_fan_high?' + gateway + '&model=' + model, function (data, status) {
        });
    }

</script>